.bottom-nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
  nav, footer {
    background:#242632;
    color: white;
  }