.container-fullwidth {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 10fr 1fr;
}
.content {
  background-color: #605C73;
  min-height: 100%;
}
.progress-grid {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.empty {
  background-color: black;
}
.good {
  background-color: #9FB48A;
}
.neutral {
  background-color: #CDCA78;
}
.bad {
  background-color: #DE6F79;
}
.unverified {
  background-color: gray;
}
.event {
  aspect-ratio: 1;
  border: 3px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem  ;
  font-weight: 800;
}